* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: Enhance text selection */
::selection {
  background: #2f80ed;
  color: #fff;
}
